.flex {
    display: flex;
}

.left {
    width: 30%;
    height: 300px;
    border-right: 1px solid gray;
}

.right {
    width: 70%;
    height: 300px;
    padding: 10px;
    overflow: scroll;
}

.right p {
    margin: 0;
}
